<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
	<meta charset="UTF-8">
	<title>Angularjs - Module</title>
	<!-- AngularJS cdn -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
</head>
<body>
	
	<!-- Just add some angularJS expression -->
	1 + 1 = {{ 1 + 1 }} <br/>
	100 / 4 = {{ 100 / 4 }} <br/>
	10 * 5 = {{ 10 * 5}} <br/>
	<script src="app.js"></script>
	<script src="controller.js"></script>
</body>
</html>