<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="MainController">
<head>
	<meta charset="UTF-8">
	<title>Using ng-repeat Angularjs</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
</head>
<body>
	<h1>Here are few products</h1>
	<hr>
	<div ng-repeat="item in items">
		<h2>{{item.name}}</h2>
		<p>{{item.desc}}
	</div>
	
	<script src="js/app.js"></script>
	<script src="js/controller.js"></script>
</body>
</html>
