<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Angularjs - Simple Controller</title>
	<!-- AngularJS cdn -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
</head>
<body ng-controller='AppController'>
	
	<h1> name : {{ name }}</h1>
	
	<script src="./app.js"></script>
	<script src="./AppController.js"></script>
</body>
</html>